@keyframes selectMenu {
    0% {
        border-bottom-width: 1%;
    }
    75% {
        border-bottom-width: 90%;
    }
    100% {
        border-bottom-width: 100%;
    }
}

@keyframes selectConcert {
    0% {
        width: 0;
    }
    80% {
        width: 90%;
    }
    100% {
        width: 100%;
    }
}

.mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
}

.menusContainer {
    color: #000;
    font-size: 2.5vh;
    width: 38vw;
    height: 100vh;
    background: #ffb23f;
    z-index: 1;
    position: fixed;
    top: 0;
    transform: skew(20deg) translate(-15vw);
    border-right: 2px solid darken($color: #ffb23f, $amount: 25%);
}

.bodyContainer {
    display: flex;
    flex-direction: column;
    justify-content: left;
    flex: 1;
    z-index: 0;
    padding: 0 0 0 20vw;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    box-sizing: border-box;
}

.menusList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: fit-content;
    transform: skew(-20deg);
    margin-left: 15vw;
}

.menu {
    margin: 3vh 20px;
    display: flex;
    justify-content: left;
    color: white;
    opacity: 0.6;
    font-size: 20px;
    width: fit-content;
    border-bottom: 0px solid #fff;
    transform: scale(1);
    transform-origin: left center;
    transition: opacity, border-bottom, transform 0.5s ease; 

    &--selected {
        opacity: 1;
        transform: scale(1.1);
        border-bottom: 1px solid #fff;
    }

    &:hover {
        cursor: pointer;
        opacity: 1;
        transform: scale(1.1);
        border-bottom: 1px solid #fff;
        animation: selectMenu 1s ease;
    }
}

.groupFrom {
    font-size: 1.75vh;
    margin-left: 10px;
}

.topContainer {
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transform: skew(20deg);
}

.sections {
    display: flex;
    flex: 1;
    margin-top: 10vh;
    flex-direction: row;
    overflow: hidden;

    &--Presentation {
        justify-content: right;
    }
}

.festivalInfos {
    transform: skew(-20deg);
    width: fit-content;
    color: #ffb23f;
}

.festivalName {
    display: flex;
    font-size: 5vh;
    font-weight: 500;
    border-bottom: 1px solid darken($color: #ffb23f, $amount: 25%);
    -webkit-text-stroke: 2px darken($color: #ffb23f, $amount: 25%);
}

.festivalDates {
    letter-spacing: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 14px;
    -webkit-text-stroke: 1px darken($color: #ffb23f, $amount: 25%);
}

.dates {
    width: 240px;
    height: 240px;
    border-radius: 100px;
    display: flex;
    margin: 70px 0 0 1vw;
    transform: skew(-20deg) rotate(-20deg) translate(-35px, -70px);
    box-sizing: border-box;
    border: 3px solid darken($color: #ffb23f, $amount: 25%);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 2% 0;
    background: linear-gradient(#ffb23f 85%, darken($color: #ffb23f, $amount: 20%) 100%);
    color: white;
    z-index: 2;
    box-shadow: 2px 2px 16px rgba(0,0,0,0.25);
}

.month {
    font-size: 3.5vh;
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    -webkit-text-stroke: 1px darken($color: #ffb23f, $amount: 25%);
    text-shadow: 2px 2px 6px rgba(0,0,0,0.25);

    sup {
        font-size: 2vh;
    }
}

.monthProgram {
    font-size: 3.5vh;
    height: 2vh;
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    -webkit-text-stroke: 1px darken($color: #ffb23f, $amount: 25%);
    text-shadow: 2px 2px 6px rgba(0,0,0,0.25);

    sup {
        font-size: 2vh;
    }
}

.day {
    font-size: 1.25vh;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    box-sizing: border-box;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.25);
}

.concertTime {
    font-size: 1.25vh;
    display: flex;
    flex: 1;   
    box-sizing: border-box;
    align-items: center;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.25);
}

.presentation {
    width: 70vw;    
    position: relative;
    overflow: hidden;
    padding: 0;
}

.ban {
    height: 5vh;
    width: 100%;
    background: #ffb23f;
    border: 2px solid darken($color: #ffb23f, $amount: 25%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    transform: skew(20deg);
    box-shadow: 2px 2px 8px rgba(0,0,0,0.25);
}

.groups {
    width: 60vw;
    position: relative;
    right: 0;z-index:3;
    overflow: hidden;
}

.banGroup {
    height: 5vh;
    width: 100%;
    background: linear-gradient(#ffb23f 85%, darken($color: #ffb23f, $amount: 10%) 100%);
    border: 2px solid darken($color: #ffb23f, $amount: 25%);
    display: flex;
    justify-content: center;
    align-items: baseline;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.25);
    transform: skew(20deg) translate(10px);
}

.scene {
    height: 5vh;
    width: 100%;
    margin-bottom: 20px;
    z-index: 2;
    background: linear-gradient(#ffb23f 85%, darken($color: #ffb23f, $amount: 20%) 100%);
    border: 2px solid darken($color: #ffb23f, $amount: 25%);
    box-shadow: 2px 2px 8px rgba(0,0,0,0.25);
    transform: skew(20deg) translate(10px);

    &--little {
        margin-top: 80px;
        transform: skew(20deg) translate(120px);
    }
}

.blocPresentation {
    display: flex;
    height: fit-content;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin-top: 20px;
}

.descriptionPresentation {
    width: 400px;
    float: left;
    overflow: hidden;
    position: relative;
    transform: skew(20deg) translate(80px);
    
}

.textPresentation {
    color: #000;
    flex: 1;
    text-align: justify;
    margin: 0 40px;
}

.textGroup2 {
    margin-bottom: 20px;
}

.title {
    transform: skew(-20deg);
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-size: 3vh;
}

.titleBanGroup {
    width: fit-content;
    margin: auto;
    text-align: center;
    font-size: 3vh;
    transform: skew(-20deg);
}

.description {
    width: 60vw;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;
    
}

.shape {
    width: 200px;
    height: 85vh;
    z-index: 1;
    shape-outside: polygon(0 0, 0 100%, 100% 100%);
    transform: skew(20deg) translate(160px);
    background: transparent;
}

.shape2 {
    width: 400px;
    height: 85vh;
    display: flex;
    justify-content: center;
    z-index: 2;
    shape-outside: polygon(0 0, 0 100%, 100% 100%);
    transform: skew(20deg) translate(165px);
    background: transparent;
}

.shape3 {
    clip-path: polygon(0 0, 100% 100%, 0 100%);
    float: left;
    shape-outside: polygon(0 0, 100% 100%, 0 100%);
    height: 800px;
    width: 292px;
}

.groupHour {
    text-align: left;
    height: 5vh;
    flex: 1;
    vertical-align: auto;
    line-height: 5vh;
    color: black;
    transform: skew(20deg) translate(20px) scale(1);
    transition: transform 0.5s ease;
    z-index: 0;
    
    &:hover {
        transform: skew(20deg) translate(60px) scale(1.1);
        color: #fff;
        cursor: pointer;
        box-shadow: none;
        text-shadow: none;
        font-weight: 500;
    }
}

.groupHourText {
    z-index: 1;
    transform: skew(0deg);
    border: 1px solid darken($color: #ffb23f, $amount: 25%);
    color: darken($color: #ffb23f, $amount: 25%);
    padding: 10px 40px;
    box-sizing: border-box;
    position: relative;

    &:hover {
        color: #000;
        text-shadow: 1px 1px 4px darken($color: #ffb23f, $amount: 25%);
        
    }

    &:hover::after {
        content: '';
        position: absolute;
        top:0;
        left: 0;
        right:0;
        bottom:0;
        z-index: -1;
        background: linear-gradient(#ffb23f 85%, darken($color: #ffb23f, $amount: 25%) 100%);
        animation: selectConcert 0.5s ease-in-out;
    }
}

.imgGroup {
    width: 380px;
    height: 30vh;
    position: relative;
    overflow: hidden;
    box-shadow: 4px 4px 16px rgba(0,0,0,0.25);
    transform: skew(-20deg) translate(-80px);


    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-left: 1px solid transparent;
        object-fit: cover;
    }
}

.dateLink {
    color: #fff;
    font-size: 2.75vh;
    margin: 0 15px;
    text-shadow: 4px 4px 16px rgba(0,0,0,0.25);
    transform: scale(1);
    opacity: 0.75;
    transition: transform, opacity 0.5s ease;

    &:hover {
        transform: scale(1.1);
        opacity: 1;
        color: #fff;
    }
}

.dateLinkDisabled {
    color: #fff;
    font-size: 2.75vh;
    margin: 0 15px;
    text-shadow: 4px 4px 16px rgba(0,0,0,0.25);
    transform: scale(1);
    opacity: 0.2;
    transition: transform, opacity 0.5s ease;

    &:hover {
        cursor: default;
    }
}

.buttonsNav {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.buttonNav {
    margin: 0 40px;
    color: #000;
    opacity: 0.3;

    &:hover {        
        opacity: 1;
    }

    &--disabled {
        opacity: 0.1;

        &:hover {
            cursor: default;
            opacity: 0.1;
        }
    }
}

.buyTickets {
    width: 200px;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.25);
    box-shadow: 4px 4px 16px rgba(0,0,0,0.25);
    background: linear-gradient(#ffb23f 85%, darken($color: #ffb23f, $amount: 20%) 100%);
    border-radius: 10px;
    margin: 0 60px;
    border: 2px solid darken($color: #ffb23f, $amount: 25%);
    transform: skew(-20deg) scale(1);
    transition: transform 0.5s ease-in-out;

    &:hover {
        cursor: pointer;
        box-shadow: none;
        text-shadow: none;
        background: none;
        color: darken($color: #ffb23f, $amount: 25%);
        font-weight: 500;
        transform: skew(-20deg) scale(0.95);
    }
}